<p id="notice"><%= notice %></p>

<p>
  <strong>Original Url:</strong>
  <%= @short_url.original %>
</p>
<p>
  <strong>Short Url:</strong>
  <%= link_to "http://localhost:9000/#{@short_url.short}", main_web_path(@short_url.short) , target: "_blank"%>
</p>
<%= link_to 'Back', short_urls_path %>
